<table class="table">
    <thead>
    <tr>
        <th>артикул</th>
        <th>наименование</th>
        <th>короткое описание</th>
        <th>описание</th>
        <th>цена</th>
        <th>рейтинг</th>
        <th>изображение</th>
        <th>категория</th>
        <th></th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="item in $ctrl.items">
        <td>{{ item.code }}</td>
        <td>{{ item.title }}</td>
        <td>{{ item.shortDescription }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.rate }}</td>
        <td><img src="/user/product/{{item.id}}/large.jpg" alt="product img" height="80px"></td>
        <td>{{ item.category.id }}</a></td>
        <td><button type="button" class="btn btn-warning"
                    ui-sref="admin.main.updateproduct({productId: item.id, categoryId: item.category.id})">
            Редактировать
        </button></td>
        <td><button ng-click="$ctrl.onRemove({id: item.id})" type="button" class="btn btn-danger">
            Удалить
        </button></td>
    </tr>
    </tbody>
</table>