<form ng-controller="AdminProductUpdateController as controller">
    <div>
        <p ng-if="controller.productId">productId: {{ controller.productId }}</p>
        <p>categoryId: {{ controller.product.category.id }}</p>
    </div>

    <div class="form-group">
        <label for="product.category.id">Категория:</label>
        <input type="text" class="form-control" id="product.category.id"
               ng-model="controller.product.category.id" disabled>
    </div>
    <div class="form-group">
        <label for="product.code">Артикул:</label>
        <input type="text" class="form-control" id="product.code" ng-model="controller.product.code">
    </div>
    <div class="form-group">
        <label for="product.name">Наименование:</label>
        <input type="text" class="form-control" id="product.name" ng-model="controller.product.title">
    </div>
    <div class="form-group">
        <label for="product.shortDescription">Короткое описание:</label>
        <textarea class="form-control" rows="2" id="product.shortDescription"
                  ng-model="controller.product.shortDescription">
        </textarea>
    </div>
    <div class="form-group">
        <label for="product.description">Описание:</label>
        <textarea class="form-control" rows="5" id="product.description" ng-model="controller.product.description">
        </textarea>
    </div>
    <div class="form-group">
        <label for="product.price">Цена:</label>
        <input type="text" class="form-control" id="product.price" ng-model="controller.product.price">
    </div>
    <div class="form-group">
        <label for="product.price">Рейтинг:</label>
        <input type="text" class="form-control" id="product.rate" ng-model="controller.product.rate">
    </div>
    <div class="form-group">
        <label for="product.image">Изображение:</label>
        <div>
            <img ng-if="controller.productId" src="/user/product/{{controller.productId}}/large.jpg"
                 alt="product img" height="150px">
        </div>
        <input type="file" id="product.image" file-model="controller.files.image" hidden>
    </div>

    <button type="submit" class="btn btn btn-primary"
            ui-sref="admin.main.products({categoryId: controller.product.category.id})"
            ng-click="controller.add()">
        Применить
    </button>

    <button type="submit" class="btn btn btn-danger"
            ui-sref="admin.main.products({categoryId: controller.product.category.id})">
        Отмена
    </button>
</form>