<h4>new product</h4>
<form ng-controller="AdminProductUpdateController as controller">
    <div class="form-group">
        <label for="product.category.id">category id:</label>
        <input type="text" class="form-control" id="product.category.id"
               ng-model="controller.product.category.id" disabled>
    </div>
    <div class="form-group">
        <label for="product.code">Code:</label>
        <input type="text" class="form-control" id="product.code" ng-model="controller.product.code">
    </div>
    <div class="form-group">
        <label for="product.name">Name:</label>
        <input type="text" class="form-control" id="product.name" ng-model="controller.product.title">
    </div>
    <div class="form-group">
        <label for="product.shortDescription">Short description:</label>
        <textarea class="form-control" rows="2" id="product.shortDescription"
                  ng-model="controller.product.shortDescription">
        </textarea>
    </div>
    <div class="form-group">
        <label for="product.description">Description:</label>
        <textarea class="form-control" rows="5" id="product.description" ng-model="controller.product.description">
        </textarea>
    </div>
    <div class="form-group">
        <label for="product.price">Price:</label>
        <input type="text" class="form-control" id="product.price" ng-model="controller.product.price">
    </div>
    <div class="form-group">
        <label for="product.price">Rate:</label>
        <input type="text" class="form-control" id="product.rate" ng-model="controller.product.rate">
    </div>
    <div class="form-group">
        <label for="product.image">
            Image:
        </label>
        <input type="file" id="product.image" file-model="controller.files.image" hidden>
    </div>

    <button type="submit" class="btn btn btn-primary"
            ui-sref="admin.main.products({categoryId: controller.product.category.id})"
            ng-click="controller.add()">Submit
    </button>
</form>