<table class="table">
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>short description</th>
        <th>description</th>
        <th>price</th>
        <th>rate</th>
        <th>image</th>
        <th>category</th>
        <th></th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="item in $ctrl.items">
        <td>{{ item.code }}</td>
        <td>{{ item.title }}</td>
        <td>{{ item.shortDescription }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.rate }}</td>
        <td><img src="/user/product/{{item.id}}/large.jpg" alt="product img" height="80px"></td>
        <td>{{ item.category.id }}</a></td>
        <td><button type="button" class="btn btn-warning">Edit</button></td>
        <td><button ng-click="$ctrl.onRemove({id: item.id})" type="button" class="btn btn-danger">Remove</button></td>
    </tr>
    </tbody>
</table>