<form ng-controller="AdminAnswersAddFormController as controller">
    <p>questionId: {{controller.answer.questionId}}</p>

    <div class="form-group">
        <label for="answer.text">Text:</label>
        <input type="text" class="form-control" id="answer.text" ng-model="controller.answer.text">
    </div>

    <div class="form-group">
    <span ng-repeat="product in controller.products"
          data-toggle="tooltip" title="{{ product.title }}"
          class="admin-product-code">
        <input id="{{ product.id }}" type="checkbox" ng-model="controller.productsIndices[$index]">
        <label class="badge" for="{{ product.id }}">
            {{ product.code }}
        </label>
    </span>
    </div>

    <button type="submit" class="btn btn btn-primary"
            ui-sref="admin.main.answers({questionId: controller.answer.questionId})"
            ng-click="controller.add()">
        Submit
    </button>

    <button type="submit" class="btn btn btn-danger"
            ui-sref="admin.main.answers({questionId: controller.answer.questionId})">
        Cancel
    </button>
</form>