<table class="table">
    <thead>
    <tr>
        <th>id</th>
        <th>text</th>
        <th>products</th>
        <th></th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="answer in $ctrl.answers">
        <td>{{ answer.id }}</td>
        <td>{{ answer.text }}</td>
        <td>
            <span ng-repeat="product in answer.products" class="badge admin-product-code"
                  data-toggle="tooltip" title="{{ product.title }}">
                {{ product.code }}
            </span>
        </td>
        <td>
            <button type="button" class="btn btn-warning"
            ui-sref="admin.main.answers.updateanswer({answerId: answer.id})">
                <span class="glyphicon glyphicon-edit"></span>
            </button>
        </td>
        <td>
            <button ng-click="$ctrl.onRemove({id: answer.id})" type="button" class="btn btn-danger">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </td>
    </tr>
    </tbody>
</table>