<table class="table">
    <thead>
    <tr>
        <th>text</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="item in $ctrl.items">
        <td>{{ item.text }}</td>
        <td>
            <button type="button" class="btn btn-primary"
                    ui-sref="admin.main.answers.addbutton({questionId: item.id})">Ответы
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-warning">Редактировать</button>
        </td>
        <td>
            <button ng-click="$ctrl.onRemove({id: item.id})" type="button" class="btn btn-danger">Удалить</button>
        </td>
    </tr>
    </tbody>
</table>