<table class="table">
    <thead>
    <tr>
        <th>id</th>
        <th>наименование</th>
        <th>описание</th>
        <th>изображение</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="item in $ctrl.items">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td><img src="/user/category/{{item.id}}/large.jpg" alt="category img" height="80px"></td>
        <!--<td><a ui-sref="admin.main.products({categoryId: item.id})">products</a></td>-->
        <td><button type="button" class="btn btn-primary"
                    ui-sref="admin.main.products({categoryId: item.id})">
                    Товары
        </button></td>
        <td><button type="button" class="btn btn-warning">Редактировать</button></td>
        <td><button ng-click="$ctrl.onRemove({id: item.id})" type="button" class="btn btn-danger">Удалить</button></td>
    </tr>
    </tbody>
</table>